@model Organizate.Estudiante

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div id="page-wrapper">
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">Crear Estudiante</h1>
		</div>
		<!-- /.col-lg-12 -->
	</div>
	@using (Html.BeginForm())
	{
		@Html.AntiForgeryToken()
		if (User.IsInRole("Administrador"))
		{
			<div class="form-horizontal">
				<h4>Estudiante</h4>
				<hr />
				@Html.ValidationSummary(true, "", new { @class = "text-danger" })
				<div class="form-group">
					@Html.LabelFor(model => model.est_nombre, htmlAttributes: new { @class = "control-label col-md-2" })
					<div class="col-md-10">
						@Html.EditorFor(model => model.est_nombre, new { htmlAttributes = new { @class = "form-control" } })
						@Html.ValidationMessageFor(model => model.est_nombre, "", new { @class = "text-danger" })
					</div>
				</div>

				<div class="form-group">
					@Html.LabelFor(model => model.est_apellido, htmlAttributes: new { @class = "control-label col-md-2" })
					<div class="col-md-10">
						@Html.EditorFor(model => model.est_apellido, new { htmlAttributes = new { @class = "form-control" } })
						@Html.ValidationMessageFor(model => model.est_apellido, "", new { @class = "text-danger" })
					</div>
				</div>

				<div class="form-group">
					@Html.LabelFor(model => model.est_telefono, htmlAttributes: new { @class = "control-label col-md-2" })
					<div class="col-md-10">
						@Html.EditorFor(model => model.est_telefono, new { htmlAttributes = new { @class = "form-control" } })
						@Html.ValidationMessageFor(model => model.est_telefono, "", new { @class = "text-danger" })
					</div>
				</div>

				<div class="form-group">
					@Html.LabelFor(model => model.est_direccion, htmlAttributes: new { @class = "control-label col-md-2" })
					<div class="col-md-10">
						@Html.EditorFor(model => model.est_direccion, new { htmlAttributes = new { @class = "form-control" } })
						@Html.ValidationMessageFor(model => model.est_direccion, "", new { @class = "text-danger" })
					</div>
				</div>

				<div class="form-group">
					@Html.LabelFor(model => model.est_correo, htmlAttributes: new { @class = "control-label col-md-2" })
					<div class="col-md-10">
						@Html.EditorFor(model => model.est_correo, new { htmlAttributes = new { @class = "form-control" } })
						@Html.ValidationMessageFor(model => model.est_correo, "", new { @class = "text-danger" })
					</div>
				</div>

				<div class="form-group">
					@Html.LabelFor(model => model.est_cedula, htmlAttributes: new { @class = "control-label col-md-2" })
					<div class="col-md-10">
						@Html.EditorFor(model => model.est_cedula, new { htmlAttributes = new { @class = "form-control" } })
						@Html.ValidationMessageFor(model => model.est_cedula, "", new { @class = "text-danger" })
					</div>
				</div>

				<div class="form-group">
					@Html.LabelFor(model => model.est_cole_univ, htmlAttributes: new { @class = "control-label col-md-2" })
					<div class="col-md-10">
						@Html.EditorFor(model => model.est_cole_univ, new { htmlAttributes = new { @class = "form-control" } })
						@Html.ValidationMessageFor(model => model.est_cole_univ, "", new { @class = "text-danger" })
					</div>
				</div>

				<div class="form-group">
					<div class="col-md-offset-2 col-md-10">
						<input type="submit" value="Create" class="btn btn-default" />
					</div>
				</div>
			</div>
		}
		else
		{
			<h3>Usted No tiene permiso para estar aqui</h3>
		}
	}

	<div>
		@Html.ActionLink("Back to List", "Index")
	</div>
</div>