@model IEnumerable<Organizate.Estudiante>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div id="page-wrapper">
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header text-center">Estudiantes</h1>
		</div>
		<!-- /.col-lg-12 -->
	</div>
	<div class="row">
		<div class="col col-md-3">
			<a href="@Url.Action("Create","Estudiantes")" class="btn btn-success">Agregar Estudiante</a>
		</div>
	</div>
	<br />
	<table class="table">
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.est_nombre)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.est_apellido)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.est_telefono)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.est_direccion)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.est_correo)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.est_cedula)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.est_cole_univ)
			</th>
			<th></th>
		</tr>

		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.est_nombre)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.est_apellido)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.est_telefono)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.est_direccion)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.est_correo)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.est_cedula)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.est_cole_univ)
				</td>
				<td>
					<a href="@Url.Action("Edit","Estudiantes", new { id = item.est_id })"><i class="fa fa-2x fa-edit"></i></a>
					<a href="@Url.Action("Delete","Estudiantes", new { id = item.est_id })"><i class="fa fa-2x fa-trash "></i></a>
				</td>
			</tr>
		}

	</table>
</div>