@model Organizate.Horario_Profesor

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Horario_Profesor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.hor_pro_dia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hor_pro_dia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hor_pro_hora_inicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hor_pro_hora_inicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hor_pro_hora_fin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hor_pro_hora_fin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Profesor.pro_nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Profesor.pro_nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.hor_pro_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
