@model Organizate.Horario_Profesor

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div id="page-wrapper">
	<h2>Editar</h2>

	@using (Html.BeginForm())
	{
		@Html.AntiForgeryToken()

		<div class="form-horizontal">
			<h4>Horario_Profesor</h4>
			<hr />
			@Html.ValidationSummary(true, "", new { @class = "text-danger" })
			@Html.HiddenFor(model => model.hor_pro_id)

			<div class="form-group">
				@Html.LabelFor(model => model.hor_pro_dia, htmlAttributes: new { @class = "control-label col-md-2" })
				<div class="col-md-10">
					@Html.EditorFor(model => model.hor_pro_dia, new { htmlAttributes = new { @class = "form-control" } })
					@Html.ValidationMessageFor(model => model.hor_pro_dia, "", new { @class = "text-danger" })
				</div>
			</div>

			<div class="form-group">
				@Html.LabelFor(model => model.hor_pro_hora_inicio, htmlAttributes: new { @class = "control-label col-md-2" })
				<div class="col-md-10">
					@Html.EditorFor(model => model.hor_pro_hora_inicio, new { htmlAttributes = new { @class = "form-control" } })
					@Html.ValidationMessageFor(model => model.hor_pro_hora_inicio, "", new { @class = "text-danger" })
				</div>
			</div>

			<div class="form-group">
				@Html.LabelFor(model => model.hor_pro_hora_fin, htmlAttributes: new { @class = "control-label col-md-2" })
				<div class="col-md-10">
					@Html.EditorFor(model => model.hor_pro_hora_fin, new { htmlAttributes = new { @class = "form-control" } })
					@Html.ValidationMessageFor(model => model.hor_pro_hora_fin, "", new { @class = "text-danger" })
				</div>
			</div>

			<div class="form-group">
				@Html.LabelFor(model => model.hor_pro_pro_id, "hor_pro_pro_id", htmlAttributes: new { @class = "control-label col-md-2" })
				<div class="col-md-10">
					@Html.DropDownList("hor_pro_pro_id", null, htmlAttributes: new { @class = "form-control" })
					@Html.ValidationMessageFor(model => model.hor_pro_pro_id, "", new { @class = "text-danger" })
				</div>
			</div>

			<div class="form-group">
				<div>
					<h1 class="col-md-offset-1"><a href="@Url.Action("Horario","Horario_Profesor")"><i class="fa fa-arrow-circle-left fa-fw"></i></a></h1>
				</div>
				<div class="col-md-offset-3 col-md-1">
					<input type="submit" value="Guardar" class="btn btn-success" />
				</div>
			</div>
		</div>
	}

	<div>
		@Html.ActionLink("Back to List", "Index")
	</div>
</div>